Flask==2.2.3
Flask-Mail==0.9.1
future==0.18.2
Jinja2==3.1.2
Werkzeug==2.2.3
itsdangerous==2.1.2
SQLAlchemy==2.0.4
Flask-SQLAlchemy==2.4.3
flask-login==0.6.2
jmespath==0.9.5
Js2Py==0.70
MarkupPy==1.14
MarkupSafe==2.1.2
mysqlclient==2.0.1
Naked==0.1.31
packaging==20.4
Pillow==7.1.1
pipenv==2018.11.26
pipwin==0.5.0
pyttsx3==2.90
pytz==2020.1
pywin32==228
sqlparse==0.3.1

