<!DOCTYPE html>
<html>

<head>
	<title> Unity Hospital | About Us </title>

	<!-- Web Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="/static/assets/css/header.css">
	<link rel="stylesheet" href="/static/assets/css/footer.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="/static/assets/plugins/line-icons-pro/styles.css">
	<link rel="stylesheet" href="/static/assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.min.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="/static/assets/css/custom.css">

</head>

<body>
	<div class="wrapper">
		<!--=== Header v1 ===-->
		<div class="header-v1">
			<!-- Topbar -->
			<div class="topbar-v1">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<ul class="list-inline top-v1-contacts">
								<li>
									<i class="fa fa-envelope"></i> Email: unityhospital@gmail.com
								</li>
								<li>
									<i class="fa fa-phone"></i> Contact no : 88666 00555
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- End Topbar -->

			<!-- Navbar -->
			<div class="navbar mega-menu" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="res-container">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<div class="navbar-brand">
							<a href="/">
								<img src="/static/assets/img/logo/unity_white.jpg" alt="Logo" />
							</a>
						</div>
					</div>
					<!--/end responsive container-->

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-responsive-collapse">
						<div class="res-container">
							<ul class="nav navbar-nav">

								<!-- Collect the nav links, forms, and other content for toggling -->


								<!-- Home  -->
								<li class="mega-menu-fullwidth">
									<a href="/">
										HOME
									</a>

								</li>
								<!-- End Home-->

								<!-- About Us -->
								<li class="mega-menu-fullwidth">
									<a href="about">
										ABOUT US
									</a>
								</li>
								<!-- End About us -->

								<!-- Doctors -->
								<li class="mega-menu-fullwidth">
									<a href="department">
										DEPARTMENT
									</a>

								</li>
								<!-- End Doctors -->




								<!-- login -->
								<li class="mega-menu-fullwidth">
									<a href="login">
										LOGIN
									</a>
								</li>
								<!-- End login -->



							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Navbar -->

		<!-- About Heading -->
		<div class="container content-sm" style="margin-top: -25px;">
			<div class="headline-center" style="margin-bottom: 60px;">
				<h2>ABOUT<span style="color: #72c02c;"> UNITY </span></h2>
			</div>
		</div>

		<!-- About Section 1 -->
		<div class="container content" style="margin-top: -90px">
			<div class="row" style="margin-bottom: 40px;">
				<div class="col-md-6" style="margin-bottom: 40px;">
					<p><span style="color: #72c02c;">UNITY </span> Hospital is a multi/super speciality hospital located
						at the prime location of Vaishnodevi Circle, SG Road, Ahmedabad; with state-of-the-art
						facilities & treatments at an affordable cost, encompassing wide spectrum of accurate
						diagnostics and elegant therapeutics created on the philosophical edifice of patient and ethical
						centricity ensuring humanistic dispensation.</p>
					<ul class="list-unstyled">
						<li><i class="fa fa-check color-green"></i> Multiple Options For Treatment.</li>
						<li><i class="fa fa-check color-green"></i> Full Of Latest Technologies and Equipments.</li>
						<li><i class="fa fa-check color-green"></i> Best Hospital Of 2020 Award Winner.</li>
						<li><i class="fa fa-check color-green"></i> 24/7 Ambulance Support.</li>
						<li><i class="fa fa-check color-green"></i> Eminent and Experienced Doctors.</li>
					</ul><br />

					<!-- Blockquotes -->
					<blockquote>
						<p>As a leading health organization in our region, we want to be a strong influence for better
							health and prevention, and there’s no better place to start than among our own employees.
						</p>
						<small>CEO Harshil Patel</small>
					</blockquote>
				</div>

				<div class="col-md-6" style="margin-bottom: 40px;">
					<div class="responsive-video">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/Gm0x890j-WY"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>

					</div>
				</div>
			</div>
			<!--/row-->
		</div>
	</div>
	<!-- End About Section 1 -->

	<!--=== About Section 2 ===-->
	<div class="container content-sm aboutSection">
		<div class="row service-block-v6 section1">
			<div class="col-md-4" style="margin-bottom: 50px;">
				<i class="icon-custom rounded-x icon-color-u icon-line icon-medical-054"></i>
				<div class="service-desc">
					<h2>Vision</h2>
					<p>Ensuring ‘well being’ as a humane commitment to <br />enliven humanity.</p>
				</div>
			</div>
			<div class="col-md-4" style="margin-bottom: 50px;">
				<i class="icon-custom rounded-x icon-color-u icon-line icon-medical-038"></i>
				<div class="service-desc">
					<h2>Mission</h2>
					<p>The ‘well being’ ensured by extension of Available, Accessible, Affordable, Safe, Efficacious,
						Professional<br />And Ethical.</p>
				</div>
			</div>
			<div class="col-md-4">
				<i class="icon-custom rounded-x icon-color-u icon-line icon-medical-004"></i>
				<div class="service-desc">
					<h2>Core Values</h2>
					<p>Team Work, Integrity, Responsibility, Compassion,<br /> And Ethics.</p>
				</div>
			</div>
		</div>
		<!--/end row-->
	</div>
	<!--=== End About Section 2===-->
	<!--=== Footer ===-->
	<div class="footer-v1">
		<div class="footer">
			<div class="container">
				<div class="row">


					<!-- Address -->
					<div class="col-md-3 map-img " style="margin-bottom: 40px;">
						<div class="headline">
							<h2>Contact Us</h2>
						</div>
						<address class="" style="margin-bottom: 40px;">
							Unity Hospital <br />
							Ahmedabad, IN <br />
							Phone: 886 666 00555 <br />
							Email: unityhospital@gmail.com
						</address>
					</div>
					<!--/col-md-3-->
					<!-- End Address -->
				</div>
			</div>
		</div>
		<!--/footer-->

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p>
							2020 &copy; All Rights Reserved.

						</p>
					</div>

					<!-- Social Links -->
					<div class="col-md-6">
						<ul class="footer-socials list-inline">
							<li>
								<a href="http://www.facebook.com" class="tooltips" data-toggle="tooltip"
									data-placement="top" title="" data-original-title="Facebook">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="http://www.skype.com" class="tooltips" data-toggle="tooltip"
									data-placement="top" title="" data-original-title="Skype">
									<i class="fa fa-skype"></i>
								</a>
							</li>
							<li>
								<a href="http://www.googleplus.com" class="tooltips" data-toggle="tooltip"
									data-placement="top" title="" data-original-title="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a href="http://www.linkedin.com" class="tooltips" data-toggle="tooltip"
									data-placement="top" title="" data-original-title="Linkedin">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="http://www.Pinterest.com" class="tooltips" data-toggle="tooltip"
									data-placement="top" title="" data-original-title="Pinterest">
									<i class="fa fa-pinterest"></i>
								</a>
							</li>
							<li>
								<a href="http://www.twitter.com" class="tooltips" data-toggle="tooltip"
									data-placement="top" title="" data-original-title="Twitter">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
						</ul>
					</div>
					<!-- End Social Links -->
				</div>
			</div>
		</div>
	</div>
	</div> <!-- End Wrapper -->

</body>

</html>