<!DOCTYPE html>
<html>

<head>
	<title> Unity Hospital | Home </title>

	<!-- Web Fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets/css/style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="/static/assets/css/header.css">
	<link rel="stylesheet" href="/static/assets/css/footer.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="/static/assets/plugins/line-icons-pro/styles.css">
	<link rel="stylesheet" href="/static/assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.min.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="/static/assets/css/custom.css">

</head>

<body>
	<div class="wrapper">
		<!--=== Header v1 ===-->
		<div class="header-v1">
			<!-- Topbar -->
			<div class="topbar-v1">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<ul class="list-inline top-v1-contacts">
								<li>
									<i class="fa fa-envelope"></i> Email: unityhospital@gmail.com
								</li>
								<li>
									<i class="fa fa-phone"></i> Contact no : 88666 00555
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- End Topbar -->

			<!-- Navbar -->
			<div class="navbar mega-menu" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="res-container">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-responsive-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<div class="navbar-brand">
							<a href="/">
								<img src="/static/assets/img/logo/unity_white.jpg" alt="Logo">
							</a>
						</div>
					</div>
					<!--/end responsive container-->

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-responsive-collapse">
						<div class="res-container">
							<ul class="nav navbar-nav">

								<!-- Collect the nav links, forms, and other content for toggling -->


								<!-- Home  -->
								<li class="mega-menu-fullwidth">
									<a href="/">
										HOME
									</a>

								</li>
								<!-- End Home-->

								<!-- About Us -->
								<li class="mega-menu-fullwidth">
									<a href="about">
										ABOUT US
									</a>
								</li>
								<!-- End About us -->

								<!-- Doctors -->
								<li class="mega-menu-fullwidth">
									<a href="department">
										DEPARTMENT
									</a>
								</li>

								<!-- login -->
								<li class="mega-menu-fullwidth">
									<a href="login">
										LOGIN
									</a>
								</li>
								<!-- End login -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Navbar -->



		<!-- Slider -->
		<div id="slide">
			<div class="slideshow-container">
				<div class="mySlides fade"> <img src="/static/assets/img/slider/1.jpeg" alt="Slider1" style="width:100%"> </div>
				<div class="mySlides fade"> <img src="/static/assets/img/slider/2.jpeg" alt="Slider2" style="width:100%"> </div>
				<div class="mySlides fade"> <img src="/static/assets/img/slider/3.jpeg" alt="Slider3" style="width:100%"> </div>
				<a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next"
					onclick="plusSlides(1)">&#10095;</a>
			</div>
			<br>
			<div style="text-align:center">
				<span class="dot" onclick="currentSlide(1)"></span>
				<span class="dot" onclick="currentSlide(2)"></span>
				<span class="dot" onclick="currentSlide(3)"></span>
				<span class="dot" onclick="currentSlide(4)"></span>
			</div>
		</div>

		<script>
			var slideIndex = 0;
			showSlides();
			var slides, dots;

			function showSlides() {
				var i;
				slides = document.getElementsByClassName("mySlides");
				dots = document.getElementsByClassName("dot");
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";
				}
				slideIndex++;
				if (slideIndex > slides.length) { slideIndex = 1 }
				for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className.replace(" active", "");
				}
				slides[slideIndex - 1].style.display = "block";
				dots[slideIndex - 1].className += " active";
				setTimeout(showSlides, 8000); // Change image every 8 seconds
			}

			function plusSlides(position) {
				slideIndex += position;
				if (slideIndex > slides.length) { slideIndex = 1 }
				else if (slideIndex < 1) { slideIndex = slides.length }
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";
				}
				for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className.replace(" active", "");
				}
				slides[slideIndex - 1].style.display = "block";
				dots[slideIndex - 1].className += " active";
			}

			function currentSlide(index) {
				if (index > slides.length) { index = 1 }
				else if (index < 1) { index = slides.length }
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";
				}
				for (i = 0; i < dots.length; i++) {
					dots[i].className = dots[i].className.replace(" active", "");
				}
				slides[index - 1].style.display = "block";
				dots[index - 1].className += " active";
			}
		</script>

		<!--=== Footer ===-->
		<div class="footer-v1">
			<div class="footer">
				<div class="container">
					<div class="row">
						<!-- Address -->
						<div class="col-md-3 map-img" style="margin-bottom: 40px;">
							<div class="headline">
								<h2>Contact Us</h2>
							</div>
							<address class="md-margin-bottom-40">
								Unity Hospital <br />
								Ahmedabad, IN <br />
								Phone: 886 666 00555 <br />
								Email: unityhospital@gmail.com
							</address>
						</div>
					</div>
				</div>
			</div>
			<!--/footer-->

			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>
								2020 &copy; All Rights Reserved.
								<a href="privacy">Privacy Policy</a> | <a href="terms">Terms of Service</a>
							</p>
						</div>

						<!-- Social Links -->
						<div class="col-md-6">
							<ul class="footer-socials list-inline">
								<li>
									<a href="http://www.facebook.com" class="tooltips" data-toggle="tooltip"
										data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="http://www.skype.com" class="tooltips" data-toggle="tooltip"
										data-placement="top" title="" data-original-title="Skype">
										<i class="fa fa-skype"></i>
									</a>
								</li>
								<li>
									<a href="http://www.googleplus.com" class="tooltips" data-toggle="tooltip"
										data-placement="top" title="" data-original-title="Google Plus">
										<i class="fa fa-google-plus"></i>
									</a>
								</li>
								<li>
									<a href="http://www.linkedin.com" class="tooltips" data-toggle="tooltip"
										data-placement="top" title="" data-original-title="Linkedin">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="http://www.Pinterest.com" class="tooltips" data-toggle="tooltip"
										data-placement="top" title="" data-original-title="Pinterest">
										<i class="fa fa-pinterest"></i>
									</a>
								</li>
								<li>
									<a href="http://www.twitter.com" class="tooltips" data-toggle="tooltip"
										data-placement="top" title="" data-original-title="Twitter">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- End Social Links -->
					</div>
				</div>
			</div>
			<!--/copyright-->
		</div>
		<!--=== End Footer ===-->
	</div>
	<!--/wrapper-->

</body>

</html>